<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ScreenTimePresented</key>
	<true/>
	<key>GoHomeOnBoardingPresented</key>
	<true/>
	<key>SiriOnBoardingPresented</key>
	<true/>
	<key>Payment2Presented</key>
	<true/>
	<key>chronicle</key>
	<dict>
		<key>features</key>
		<array>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>data</key>
				<dict>
					<key>productVersion</key>
					<string>13.2.2</string>
				</dict>
			</dict>
		</array>
	</dict>
	<key>AppleIDPB10Presented</key>
	<true/>
	<key>SetupDone</key>
	<true/>
	<key>Language</key>
	<string>en-AU</string>
	<key>WebKitShrinksStandaloneImagesToFit</key>
	<true/>
	<key>setupMigratorVersion</key>
	<integer>10</integer>
	<key>SetupState</key>
	<string>SetupUsingiTunes</string>
	<key>AnimateLanugageChoice</key>
	<false/>
	<key>UserChoseLanguage</key>
	<true/>
	<key>WebKitLocalStorageDatabasePathPreferenceKey</key>
	<string>/var/mobile/Library/Caches</string>
	<key>ApplicationSwitcherOnBoardingPresented</key>
	<true/>
	<key>AssistantPresented</key>
	<true/>
	<key>PrivacyContentVersion</key>
	<integer>2</integer>
	<key>PrivacyPresented</key>
	<true/>
	<key>Passcode4Presented</key>
	<true/>
	<key>PaymentMiniBuddy4Ran</key>
	<true/>
	<key>PBDiagnostics4Presented</key>
	<true/>
	<key>HSA2UpgradeMiniBuddy3Ran</key>
	<true/>
	<key>ApplePayOnBoardingPresented</key>
	<true/>
	<key>lastPrepareLaunchSentinel</key>
	<array>
		<date>2019-11-24T02:41:16Z</date>
		<integer>0</integer>
	</array>
	<key>SetupFinishedAllSteps</key>
	<true/>
	<key>GuessedCountry</key>
	<dict>
		<key>at</key>
		<date>2019-11-13T04:57:54Z</date>
		<key>countries</key>
		<array>
			<string>AU</string>
		</array>
	</dict>
	<key>RestoreChoice</key>
	<true/>
	<key>TrueTonePresented</key>
	<true/>
	<key>WebKitAcceleratedDrawingEnabled</key>
	<false/>
	<key>WebDatabaseDirectory</key>
	<string>/var/mobile/Library/Caches</string>
	<key>KeychainSync3Presented</key>
	<true/>
	<key>SSDeviceType</key>
	<dict>
		<key>deviceType</key>
		<string>162</string>
		<key>hardwareModel</key>
		<string>D221AP</string>
		<key>buildVersion</key>
		<string>17B102</string>
	</dict>
	<key>WebKitOfflineWebApplicationCacheEnabled</key>
	<true/>
	<key>SetupLastExit</key>
	<date>2019-11-13T05:02:19Z</date>
	<key>UserInterfaceStyleModePresented</key>
	<true/>
	<key>AutoUpdatePresented</key>
	<true/>
	<key>ControlCenterOnBoardingPresented</key>
	<true/>
	<key>SetupVersion</key>
	<integer>11</integer>
</dict>
</plist>
